<% layout("layouts/boilerplate"); %>

<div class="row">
    <div class="col-8 offset-2">
        <h3 class="main-heading mt-3"><%= listing.title %></h3>
    </div>
    <div class="card col-6 offset-3 show-card listing-card">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body mt-2">
          <p class="card-text">Owned By: <i><%= listing.owner.username %></i></p>
          <p class="card-text"><b><%= listing.title %></b><br></p>
          <p class="card-text"> <%= listing.description %><br></p>
          <p class="card-text"> &#8377; <%=listing.price.toLocaleString("en-IN") %><br></p>
          <p class="card-text"> <%= listing.location %><br></p>
          <p class="card-text"><%= listing.country %></p>
        </div>
    </div>
    <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
    <div class="btns col-6 offset-3" style="padding:0;">
        <form method="get" action="/listings/<%= listing._id %>/edit">
            <button class="btn btn-new me-2">Edit</button>
        </form>
        <form method="post" action="/listings/<%= listing._id %>?_method=DELETE" >
            <button class="btn btn-new me-2">Delete</button>
        </form>
    </div>
    <% } %>
    <div class="col-6 offset-3 mt-3 review-cont">
        <% if(currUser) { %>
        <hr>
        <h4>Leave a Review</h4>
        <form method="post" action="/listings/<%= listing._id %>/reviews" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <fieldset class="starability-grow">
                    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="rating" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="rating" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="rating" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="rating" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="rating" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>
            
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comment</label>
                <textarea id="comment" name="comment" rows="4" cols="50" class="form-control" required></textarea>
                <div class="invalid-feedback">Kindly give a feedback</div>
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
        <% } %>
        <% if(listing.reviews.length != 0) { %> 
        <hr class="mt-4">
        <h4 class="mt-4">Reviews</h4>
        <% } %>
        <div class="row mt-4 justify-content-between">
            <% for(review of listing.reviews) { %>
                <div class="card col-6 mb-3" style="width: 48%">
                    <div class="card-body">
                        <h5 class="card-title mt-3">@<%= review.author.username %></h5>
                        <p class="card-text"><%= review.comment %></p>
                    </div>
                    <p class="card-text mt-3">
                        <small class="text-muted"><%= review.rating %>
                            <span class="star-rating">
                                <% for(let i=1; i<=review.rating; i++) { %>
                                    <i class="fas fa-star"></i>
                                <% } %>
                                <% for(let i=review.rating+1; i<=5; i++) { %>
                                    <i class="far fa-star"></i>
                                <% } %>
                            </span>
                        </small>
                    </p>
                    <form class="mb-3" method="post" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                        <button type="submit" class="btn btn-dark btn-sm">Delete</button>
                    </form>
                </div>
            <% } %>  
        </div>  
    </div>
</div>
<br>
<br>     
    
    
